<div class="h-screen bg-white flex flex-col">
    <!-- Header -->
    <div class="border-b border-gray-200 bg-white z-40">
        <div class="pl-6 pr-16 lg:pr-24">
            <div class="text-gray-700 flex items-center h-[55px]">
                <span class="font-medium">Warehouse Safety Monitor</span>
            </div>
        </div>
    </div>
    <!-- Main Content -->
    <div class="flex-grow flex items-center justify-center">
        <div class="w-full max-w-md">
            <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                <!-- Form Content -->
                <div class="mb-4">
                    <h2 class="text-center text-lg mb-4">Welcome back to WSM</h2>
                    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                        <div *ngIf="successmsg" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                            <strong class="font-bold">Registeration successful</strong>
                            <span class="block sm:inline">{{ error }}</span>
                          </div>
                        <!-- Username Field -->
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                                Username
                            </label>
                            <div class="flex items-center border-b border-b-2 border-teal-500 py-2">
                                <mat-icon>person_outline</mat-icon>
                                <input
                                    class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
                                    type="text" placeholder="Username" aria-label="username"[ngClass]="{ 'is-invalid': submitted && f['username'].errors }" id="username" formControlName="username"/>
                                    <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                                    <div *ngIf="f['username'].errors['required']">Username is required</div>
                                </div>
                            </div>
                        </div>
                        <!-- E-mail Field -->
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                                E-mail
                            </label>
                            <div class="flex items-center border-b border-b-2 border-teal-500 py-2">
                                <mat-icon>mail_outline</mat-icon>
                                <input
                                    class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
                                    type="text" placeholder="E-mail" aria-label="email"
                                    [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" id="email" formControlName="email"/>
                                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                    <div *ngIf="f['email'].errors['required']">Email is required</div>
                                    <div *ngIf="f['email'].errors['email']">Email must be a valid email address</div>
                                </div>
                            </div>
                        </div>
                        <!-- Password Field -->
                        <div class="mb-6">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                                Password
                            </label>
                            <div class="flex items-center border-b border-b-2 border-teal-500 py-2">
                                <mat-icon>lock_outline</mat-icon>
                                <input [type]="hidePassword ? 'password' : 'text'"
                                    class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
                                    placeholder="Password" aria-label="Password"
                                    [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" id="password" formControlName="password" />
                                <mat-icon (click)="togglePasswordVisibility()">{{hidePassword ? 'visibility_off' :
                                    'visibility'}}</mat-icon>
                                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                                    <span *ngIf="f['password'].errors['required']">Password is required</span>
                                </div>

                            </div>
                            <!-- Action Buttons -->
                            <div class="flex items-center justify-between mt-2">
                                <button
                                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                                    type="submit">
                                    Sign In
                                </button>
                                <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
                                    href="#" routerLink="/login">
                                    Already have an account? Sign in
                                </a>
                            </div>
                    
                </div>
            </form>
            </div>
        </div>
    </div>
</div>