<div class="h-screen bg-white">
    <div class=" h-full m-0">
      <div class="flex h-full">
        <app-sidebar></app-sidebar>
        <div class="grow ml-[60px]">
          <app-header></app-header>
          <div class=" p-2 px-7 lg:px-6 pb-12 mt-[55px] ">
            <div class="w-full p-2 pb-6 lg:p-6 border border-gray-300 rounded-xl my-4">
                <h1 class="text-xl">
                    Metrics for {{device?.name}}
                </h1>
                <div *ngIf="threshold">
                    <div class="chart-container" style="position: relative; height:30vh; width:80vw" style="display: block;">
                      <h2>Temperature</h2>
                        <canvas baseChart 
                                [type]="'line'" 
                                [data]="tempChartData" 
                                [options]="tempChartOptions">
                        </canvas>
                    </div>
                    <div class="chart-container" style="position: relative; height:30vh; width:80vw" style="display: block; margin-top: 10px; padding-top: 15px;">
                      <h2>Humidity</h2>
                        <canvas baseChart 
                                [type]="'line'" 
                                [data]="humidityChartData" 
                                [options]="humidityChartOptions">
                        </canvas>
                    </div>
                    <div class="chart-container" style="position: relative; height:30vh; width:80vw" style="display: block; margin-top: 10px; padding-top: 15px;">
                      <h2>CO2 Level</h2>
                        <canvas baseChart 
                                [type]="'line'" 
                                [data]="co2ChartData" 
                                [options]="co2ChartOptions">
                        </canvas>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

